# <title\>

**Adhithya Kannan & Kenton Wong**  
**CMSC320 Fall 2019 with John Dickerson**

Data found from all aggregated standarized testing math course data, not each individual grade. ```MTH00``` is the equivalent expresssion in each column. ``` NUMVALID ``` means the number of students who completed the state assessment (check explanation for all of these terms as well). ``` PCTPROF ``` is the percentage of students scoring ```>=``` state proficiency levels on assessment. 

Title could be visualizing the relationship between ethnicity and math in the standardized tests way of assessing proficiency.

In [4]:
# imports
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime
import seaborn as sns

# lets us see all columns
pd.set_option('display.max_columns', 34)

In [2]:
df = pd.read_csv("data.csv")
# only use first 34 columns
df = df[df.columns[0:34]]

df.head()

,STNAM,FIPST,LEAID,ST_LEAID,LEANM,DATE_CUR,ALL_MTH00NUMVALID_1617,ALL_MTH00PCTPROF_1617,MAM_MTH00NUMVALID_1617,MAM_MTH00PCTPROF_1617,MAS_MTH00NUMVALID_1617,MAS_MTH00PCTPROF_1617,MBL_MTH00NUMVALID_1617,MBL_MTH00PCTPROF_1617,MHI_MTH00NUMVALID_1617,MHI_MTH00PCTPROF_1617,MTR_MTH00NUMVALID_1617,MTR_MTH00PCTPROF_1617,MWH_MTH00NUMVALID_1617,MWH_MTH00PCTPROF_1617,F_MTH00NUMVALID_1617,F_MTH00PCTPROF_1617,M_MTH00NUMVALID_1617,M_MTH00PCTPROF_1617,CWD_MTH00NUMVALID_1617,CWD_MTH00PCTPROF_1617,ECD_MTH00NUMVALID_1617,ECD_MTH00PCTPROF_1617,LEP_MTH00NUMVALID_1617,LEP_MTH00PCTPROF_1617,HOM_MTH00NUMVALID_1617,HOM_MTH00PCTPROF_1617,MIG_MTH00NUMVALID_1617,MIG_MTH00PCTPROF_1617
0,ALABAMA,1,100005,AL-101,Albertville City,12-Apr-18,2837,35,3,PS,17,40-59,92,15-19,1348,27,70,30-34,1307,45,1418,34,1419,36,178,20-24,2837,35,367,10,27,LE20,160,15-19
1,ALABAMA,1,100006,AL-048,Marshall County,12-Apr-18,2979,42,11,LT50,7,GE50,31,19-Nov,692,37,33,40-49,2205,43,1410,42,1569,41,459,12,2293,38,120,15-19,132,30-34,39,30-39
2,ALABAMA,1,100007,AL-158,Hoover City,12-Apr-18,7465,67,8,GE50,516,82,1852,45,579,50,293,60-64,4217,78,3590,68,3875,66,746,26,1964,44,249,20-24,28,21-39,NaN,NaN
3,ALABAMA,1,100008,AL-169,Madison City,12-Apr-18,5599,74,34,70-79,516,89,1147,52,295,60-64,224,75-79,3383,79,2699,75,2900,72,595,44,1218,52,112,30-34,39,60-69,NaN,NaN
4,ALABAMA,1,100011,AL-167,Leeds City,12-Apr-18,1003,37,3,PS,13,LT50,223,20-24,134,20-24,24,21-39,606,46,493,39,510,35,162,14-Oct,557,29,41,LE10,52,30-39,NaN,NaN

We make sure every value is either a valid value or an ``` np.nan ```. Any of the following columns in subset must have values otherwise it is not a valid row. There must be a total number of students overall, a state, a fipst (state number), a leaid, a st_leaid, a valid date.

In [3]:
dt = df.copy()

arr = dt.apply(lambda e : (e.STNAM + e.ST_LEAID[2:]), axis=1)
dt = dt.assign(state_id=arr)
dt = dt.replace('NaN', np.nan)
dt = dt.replace('PS', np.nan)
# dt = dt.replace({'LE': '<=', 'GE': '>=', 'GT': '>', 'LT': '<', '\.': np.nan, 'n/a': np.nan}, regex=True)
dt = dt.replace({'LE': np.nan, 'GE\d': np.nan, 'GT\d': np.nan, 'LT\d': np.nan, '\.': np.nan, 'n/a': np.nan}, regex=True)
dt = dt.dropna(subset=['STNAM', 'LEANM', 'FIPST', 'LEAID', 'ST_LEAID', 'DATE_CUR', 'ALL_MTH00NUMVALID_1617', 'ALL_MTH00PCTPROF_1617'])

dt = dt.drop('STNAM', 1)
dt = dt.drop('FIPST', 1)
dt = dt.drop('LEAID', 1)
dt = dt.drop('ST_LEAID', 1)


mid = dt['state_id']
dt.drop(labels=['state_id'], axis=1,inplace = True)
dt.insert(0, 'state_id', mid)

dt['DATE_CUR'] = dt['DATE_CUR'].apply(lambda e : datetime.datetime.strptime(e, '%d-%b-%y'))
dt['DATE_CUR'] = dt['DATE_CUR'].apply(lambda e : datetime.datetime.strftime(e, '%m/%d/%y'))

dt

,state_id,LEANM,DATE_CUR,ALL_MTH00NUMVALID_1617,ALL_MTH00PCTPROF_1617,MAM_MTH00NUMVALID_1617,MAM_MTH00PCTPROF_1617,MAS_MTH00NUMVALID_1617,MAS_MTH00PCTPROF_1617,MBL_MTH00NUMVALID_1617,MBL_MTH00PCTPROF_1617,MHI_MTH00NUMVALID_1617,MHI_MTH00PCTPROF_1617,MTR_MTH00NUMVALID_1617,MTR_MTH00PCTPROF_1617,MWH_MTH00NUMVALID_1617,MWH_MTH00PCTPROF_1617,F_MTH00NUMVALID_1617,F_MTH00PCTPROF_1617,M_MTH00NUMVALID_1617,M_MTH00PCTPROF_1617,CWD_MTH00NUMVALID_1617,CWD_MTH00PCTPROF_1617,ECD_MTH00NUMVALID_1617,ECD_MTH00PCTPROF_1617,LEP_MTH00NUMVALID_1617,LEP_MTH00PCTPROF_1617,HOM_MTH00NUMVALID_1617,HOM_MTH00PCTPROF_1617,MIG_MTH00NUMVALID_1617,MIG_MTH00PCTPROF_1617
0,ALABAMA-101,Albertville City,04/12/18,2837,35,3,NaN,17,40-59,92,15-19,1348,27,70,30-34,1307,45,1418,34,1419,36,178,20-24,2837,35,367,10,27,NaN,160,15-19
1,ALABAMA-048,Marshall County,04/12/18,2979,42,11,NaN,7,NaN,31,19-Nov,692,37,33,40-49,2205,43,1410,42,1569,41,459,12,2293,38,120,15-19,132,30-34,39,30-39
2,ALABAMA-158,Hoover City,04/12/18,7465,67,8,NaN,516,82,1852,45,579,50,293,60-64,4217,78,3590,68,3875,66,746,26,1964,44,249,20-24,28,21-39,NaN,NaN
3,ALABAMA-169,Madison City,04/12/18,5599,74,34,70-79,516,89,1147,52,295,60-64,224,75-79,3383,79,2699,75,2900,72,595,44,1218,52,112,30-34,39,60-69,NaN,NaN
4,ALABAMA-167,Leeds City,04/12/18,1003,37,3,NaN,13,NaN,223,20-24,134,20-24,24,21-39,606,46,493,39,510,35,162,14-Oct,557,29,41,NaN,52,30-39,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16433,WYOMING-1902000,Sweetwater County School District #2,04/12/18,1413,50,7,NaN,2,NaN,9,NaN,235,35-39,34,50-59,1126,52,683,50,730,49,233,25-29,455,36,24,21-39,29,21-39,NaN,NaN
16434,WYOMING-2202000,Washakie County School District #2,04/12/18,56,50-59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,55,50-59,22,60-79,34,50-59,11,NaN,17,21-39,NaN,NaN,NaN,NaN,NaN,NaN
16435,WYOMING-2001000,Teton County School District #1,04/12/18,1555,56,7,NaN,30,60-79,6,NaN,485,28,18,60-79,1009,68,732,54,823,57,178,20-24,360,29,194,20-24,40,20-29,NaN,NaN
16436,WYOMING-2307000,Weston County School District #7,04/12/18,128,50-54,NaN,NaN,NaN,NaN,1,NaN,4,NaN,5,NaN,118,50-54,59,50-59,69,45-49,16,NaN,42,40-49,NaN,NaN,NaN,NaN,NaN,NaN
16437,WYOMING-2201000,Washakie County School District #1,04/12/18,729,63,6,NaN,1,NaN,1,NaN,194,40-44,13,NaN,514,70,378,62,351,63,113,20-24,341,54,12,NaN,25,21-39,NaN,NaN

In [16]:
df1 = dt.copy()

names = {
    # state assessment = (SA)
    'state_id': 'state_id', # full state name and id number
    'LEANM': 'location', # location: district, city, county
    'DATE_CUR': 'most_recent_update', # most recent date that data was taken
    'ALL_MTH00NUMVALID_1617': 'all_completed', # total number of students per location that completed SA
    'ALL_MTH00PCTPROF_1617': 'all_proficient', # total number of students per location that were proficient in SA
    'MAM_MTH00NUMVALID_1617': 'american_indian_completed', # you get the picture
    'MAM_MTH00PCTPROF_1617': 'american_indian_proficient',
    'MAS_MTH00NUMVALID_1617': 'asian_completed',
    'MAS_MTH00PCTPROF_1617': 'asian_proficient',
    'MBL_MTH00NUMVALID_1617': 'black_completed',
    'MBL_MTH00PCTPROF_1617': 'black_proficient',
    'MHI_MTH00NUMVALID_1617': 'hispanic_completed',
    'MHI_MTH00PCTPROF_1617': 'hispanic_proficient',
    'MTR_MTH00NUMVALID_1617': 'multiracial_completed', # two or more races
    'MTR_MTH00PCTPROF_1617': 'multiracial_proficient',
    'MWH_MTH00NUMVALID_1617': 'white_completed',
    'MWH_MTH00PCTPROF_1617': 'white_proficient',
    'F_MTH00NUMVALID_1617': 'females_completed',
    'F_MTH00PCTPROF_1617': 'females_proficient',
    'M_MTH00NUMVALID_1617': 'males_completed',
    'M_MTH00PCTPROF_1617': 'males_proficient',
    'CWD_MTH00NUMVALID_1617': 'disability_completed', # children with disabilities
    'CWD_MTH00PCTPROF_1617': 'disability_proficient',
    'ECD_MTH00NUMVALID_1617': 'econ_disadvantage_completed', # economically disadvantaged
    'ECD_MTH00PCTPROF_1617': 'econ_disadvantage_proficient',
    'LEP_MTH00NUMVALID_1617': 'limited_english_completed', # limited english proficient students, english good for SA
    'LEP_MTH00PCTPROF_1617': 'limited_english_proficient',
    'HOM_MTH00NUMVALID_1617': 'homeless_completed', # homeless enrolled students
    'HOM_MTH00PCTPROF_1617': 'homeless_proficient',
    'MIG_MTH00NUMVALID_1617': 'migrant_completed', 
    'MIG_MTH00PCTPROF_1617': 'migrant_proficient'
}

df1.rename(inplace=True,columns=names)

df1

,state_id,location,most_recent_update,all_completed,all_proficient,american_indian_completed,american_indian_proficient,asian_completed,asian_proficient,black_completed,...,disability_completed,disability_proficient,econ_disadvantage_completed,econ_disadvantage_proficient,limited_english_completed,limited_english_proficient,homeless_completed,homeless_proficient,migrant_completed,migrant_proficient
0,ALABAMA-101,Albertville City,04/12/18,2837,35,3,NaN,17,40-59,92,...,178,20-24,2837,35,367,10,27,NaN,160,15-19
1,ALABAMA-048,Marshall County,04/12/18,2979,42,11,NaN,7,NaN,31,...,459,12,2293,38,120,15-19,132,30-34,39,30-39
2,ALABAMA-158,Hoover City,04/12/18,7465,67,8,NaN,516,82,1852,...,746,26,1964,44,249,20-24,28,21-39,NaN,NaN
3,ALABAMA-169,Madison City,04/12/18,5599,74,34,70-79,516,89,1147,...,595,44,1218,52,112,30-34,39,60-69,NaN,NaN
4,ALABAMA-167,Leeds City,04/12/18,1003,37,3,NaN,13,NaN,223,...,162,14-Oct,557,29,41,NaN,52,30-39,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16433,WYOMING-1902000,Sweetwater County School District #2,04/12/18,1413,50,7,NaN,2,NaN,9,...,233,25-29,455,36,24,21-39,29,21-39,NaN,NaN
16434,WYOMING-2202000,Washakie County School District #2,04/12/18,56,50-59,NaN,NaN,NaN,NaN,NaN,...,11,NaN,17,21-39,NaN,NaN,NaN,NaN,NaN,NaN
16435,WYOMING-2001000,Teton County School District #1,04/12/18,1555,56,7,NaN,30,60-79,6,...,178,20-24,360,29,194,20-24,40,20-29,NaN,NaN
16436,WYOMING-2307000,Weston County School District #7,04/12/18,128,50-54,NaN,NaN,NaN,NaN,1,...,16,NaN,42,40-49,NaN,NaN,NaN,NaN,NaN,NaN
16437,WYOMING-2201000,Washakie County School District #1,04/12/18,729,63,6,NaN,1,NaN,1,...,113,20-24,341,54,12,NaN,25,21-39,NaN,NaN

In [17]:
df2 = df1.copy()



df2

,state_id,location,most_recent_update,all_completed,all_proficient,american_indian_completed,american_indian_proficient,asian_completed,asian_proficient,black_completed,...,disability_completed,disability_proficient,econ_disadvantage_completed,econ_disadvantage_proficient,limited_english_completed,limited_english_proficient,homeless_completed,homeless_proficient,migrant_completed,migrant_proficient
0,ALABAMA-101,Albertville City,04/12/18,2837,35,3,NaN,17,40-59,92,...,178,20-24,2837,35,367,10,27,NaN,160,15-19
1,ALABAMA-048,Marshall County,04/12/18,2979,42,11,NaN,7,NaN,31,...,459,12,2293,38,120,15-19,132,30-34,39,30-39
2,ALABAMA-158,Hoover City,04/12/18,7465,67,8,NaN,516,82,1852,...,746,26,1964,44,249,20-24,28,21-39,NaN,NaN
3,ALABAMA-169,Madison City,04/12/18,5599,74,34,70-79,516,89,1147,...,595,44,1218,52,112,30-34,39,60-69,NaN,NaN
4,ALABAMA-167,Leeds City,04/12/18,1003,37,3,NaN,13,NaN,223,...,162,14-Oct,557,29,41,NaN,52,30-39,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16433,WYOMING-1902000,Sweetwater County School District #2,04/12/18,1413,50,7,NaN,2,NaN,9,...,233,25-29,455,36,24,21-39,29,21-39,NaN,NaN
16434,WYOMING-2202000,Washakie County School District #2,04/12/18,56,50-59,NaN,NaN,NaN,NaN,NaN,...,11,NaN,17,21-39,NaN,NaN,NaN,NaN,NaN,NaN
16435,WYOMING-2001000,Teton County School District #1,04/12/18,1555,56,7,NaN,30,60-79,6,...,178,20-24,360,29,194,20-24,40,20-29,NaN,NaN
16436,WYOMING-2307000,Weston County School District #7,04/12/18,128,50-54,NaN,NaN,NaN,NaN,1,...,16,NaN,42,40-49,NaN,NaN,NaN,NaN,NaN,NaN
16437,WYOMING-2201000,Washakie County School District #1,04/12/18,729,63,6,NaN,1,NaN,1,...,113,20-24,341,54,12,NaN,25,21-39,NaN,NaN