# <title\>

**Adhithya Kannan & Kenton Wong**  
**CMSC320 Fall 2019 with John Dickerson**

Data found from all aggregated standarized testing math course data, not each individual grade. ```MTH00``` is the equivalent expresssion in each column. ``` NUMVALID ``` means the number of students who completed the state assessment (check explanation for all of these terms as well). ``` PCTPROF ``` is the percentage of students scoring ```>=``` state proficiency levels on assessment. 

Title could be visualizing the relationship between ethnicity and math in the standardized tests way of assessing proficiency.

In [176]:
# imports
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime
import seaborn as sns

# lets us see all columns
pd.set_option('display.max_columns', 34)

In [177]:
df = pd.read_csv("data.csv")
# only use first 34 columns
df = df[df.columns[0:34]]

df.head()

,STNAM,FIPST,LEAID,ST_LEAID,LEANM,DATE_CUR,ALL_MTH00NUMVALID_1617,ALL_MTH00PCTPROF_1617,MAM_MTH00NUMVALID_1617,MAM_MTH00PCTPROF_1617,MAS_MTH00NUMVALID_1617,MAS_MTH00PCTPROF_1617,MBL_MTH00NUMVALID_1617,MBL_MTH00PCTPROF_1617,MHI_MTH00NUMVALID_1617,MHI_MTH00PCTPROF_1617,MTR_MTH00NUMVALID_1617,MTR_MTH00PCTPROF_1617,MWH_MTH00NUMVALID_1617,MWH_MTH00PCTPROF_1617,F_MTH00NUMVALID_1617,F_MTH00PCTPROF_1617,M_MTH00NUMVALID_1617,M_MTH00PCTPROF_1617,CWD_MTH00NUMVALID_1617,CWD_MTH00PCTPROF_1617,ECD_MTH00NUMVALID_1617,ECD_MTH00PCTPROF_1617,LEP_MTH00NUMVALID_1617,LEP_MTH00PCTPROF_1617,HOM_MTH00NUMVALID_1617,HOM_MTH00PCTPROF_1617,MIG_MTH00NUMVALID_1617,MIG_MTH00PCTPROF_1617
0,ALABAMA,1,100005,AL-101,Albertville City,12-Apr-18,2837,35,3,PS,17,40-59,92,15-19,1348,27,70,30-34,1307,45,1418,34,1419,36,178,20-24,2837,35,367,10,27,LE20,160,15-19
1,ALABAMA,1,100006,AL-048,Marshall County,12-Apr-18,2979,42,11,LT50,7,GE50,31,19-Nov,692,37,33,40-49,2205,43,1410,42,1569,41,459,12,2293,38,120,15-19,132,30-34,39,30-39
2,ALABAMA,1,100007,AL-158,Hoover City,12-Apr-18,7465,67,8,GE50,516,82,1852,45,579,50,293,60-64,4217,78,3590,68,3875,66,746,26,1964,44,249,20-24,28,21-39,NaN,NaN
3,ALABAMA,1,100008,AL-169,Madison City,12-Apr-18,5599,74,34,70-79,516,89,1147,52,295,60-64,224,75-79,3383,79,2699,75,2900,72,595,44,1218,52,112,30-34,39,60-69,NaN,NaN
4,ALABAMA,1,100011,AL-167,Leeds City,12-Apr-18,1003,37,3,PS,13,LT50,223,20-24,134,20-24,24,21-39,606,46,493,39,510,35,162,14-Oct,557,29,41,LE10,52,30-39,NaN,NaN

We make sure every value is either a valid value or an ``` np.nan ```. Any of the following columns in subset must have values otherwise it is not a valid row. There must be a total number of students overall, a state, a fipst (state number), a leaid, a st_leaid, a valid date.

In [178]:
dt = df.copy()

arr = dt.apply(lambda e : (e.STNAM + e.ST_LEAID[2:]), axis=1)
dt = dt.assign(state_id=arr)
dt = dt.replace('NaN', np.nan)
dt = dt.replace('PS', np.nan)
# dt = dt.replace({'LE': '<=', 'GE': '>=', 'GT': '>', 'LT': '<', '\.': np.nan, 'n/a': np.nan}, regex=True)
dt = dt.replace({'LE': np.nan, 'GE\d': np.nan, 'GT\d': np.nan, 'LT\d': np.nan, '\.': np.nan, 'n/a': np.nan}, regex=True)
dt = dt.dropna(subset=['STNAM', 'LEANM', 'FIPST', 'LEAID', 'ST_LEAID', 'DATE_CUR', 'ALL_MTH00NUMVALID_1617', 'ALL_MTH00PCTPROF_1617'])

# dt = dt.drop('STNAM', 1)
# dt = dt.drop('FIPST', 1)
dt = dt.drop('LEAID', 1)
dt = dt.drop('ST_LEAID', 1)


mid = dt['state_id']
dt.drop(labels=['state_id'], axis=1,inplace = True)
dt.insert(0, 'state_id', mid)

dt['DATE_CUR'] = dt['DATE_CUR'].apply(lambda e : datetime.datetime.strptime(e, '%d-%b-%y'))
dt['DATE_CUR'] = dt['DATE_CUR'].apply(lambda e : datetime.datetime.strftime(e, '%m/%d/%y'))

dt

,state_id,STNAM,FIPST,LEANM,DATE_CUR,ALL_MTH00NUMVALID_1617,ALL_MTH00PCTPROF_1617,MAM_MTH00NUMVALID_1617,MAM_MTH00PCTPROF_1617,MAS_MTH00NUMVALID_1617,MAS_MTH00PCTPROF_1617,MBL_MTH00NUMVALID_1617,MBL_MTH00PCTPROF_1617,MHI_MTH00NUMVALID_1617,MHI_MTH00PCTPROF_1617,MTR_MTH00NUMVALID_1617,MTR_MTH00PCTPROF_1617,MWH_MTH00NUMVALID_1617,MWH_MTH00PCTPROF_1617,F_MTH00NUMVALID_1617,F_MTH00PCTPROF_1617,M_MTH00NUMVALID_1617,M_MTH00PCTPROF_1617,CWD_MTH00NUMVALID_1617,CWD_MTH00PCTPROF_1617,ECD_MTH00NUMVALID_1617,ECD_MTH00PCTPROF_1617,LEP_MTH00NUMVALID_1617,LEP_MTH00PCTPROF_1617,HOM_MTH00NUMVALID_1617,HOM_MTH00PCTPROF_1617,MIG_MTH00NUMVALID_1617,MIG_MTH00PCTPROF_1617
0,ALABAMA-101,ALABAMA,1,Albertville City,04/12/18,2837,35,3,NaN,17,40-59,92,15-19,1348,27,70,30-34,1307,45,1418,34,1419,36,178,20-24,2837,35,367,10,27,NaN,160,15-19
1,ALABAMA-048,ALABAMA,1,Marshall County,04/12/18,2979,42,11,NaN,7,NaN,31,19-Nov,692,37,33,40-49,2205,43,1410,42,1569,41,459,12,2293,38,120,15-19,132,30-34,39,30-39
2,ALABAMA-158,ALABAMA,1,Hoover City,04/12/18,7465,67,8,NaN,516,82,1852,45,579,50,293,60-64,4217,78,3590,68,3875,66,746,26,1964,44,249,20-24,28,21-39,NaN,NaN
3,ALABAMA-169,ALABAMA,1,Madison City,04/12/18,5599,74,34,70-79,516,89,1147,52,295,60-64,224,75-79,3383,79,2699,75,2900,72,595,44,1218,52,112,30-34,39,60-69,NaN,NaN
4,ALABAMA-167,ALABAMA,1,Leeds City,04/12/18,1003,37,3,NaN,13,NaN,223,20-24,134,20-24,24,21-39,606,46,493,39,510,35,162,14-Oct,557,29,41,NaN,52,30-39,NaN,NaN
5,ALABAMA-115,ALABAMA,1,Boaz City,04/12/18,1279,45,6,NaN,13,NaN,23,21-39,394,31,38,50-59,805,51,613,44,666,45,105,20-24,879,39,97,9-Jun,29,21-39,24,21-39
6,ALABAMA-205,ALABAMA,1,Trussville City,04/12/18,2481,69,7,NaN,52,70-79,297,45-49,40,60-69,66,65-69,2019,71,1228,69,1253,69,194,25-29,232,45-49,3,NaN,3,NaN,NaN,NaN
7,ALABAMA-102,ALABAMA,1,Alexander City,04/12/18,1548,39,2,NaN,23,60-79,615,24,106,40-44,23,21-39,779,50,740,41,808,38,261,14-Oct,974,31,24,NaN,4,NaN,NaN,NaN
8,ALABAMA-104,ALABAMA,1,Andalusia City,04/12/18,910,44,NaN,NaN,15,NaN,266,20-24,18,60-79,14,NaN,597,53,425,48,485,40,107,9-Jun,531,30,8,NaN,3,NaN,NaN,NaN
9,ALABAMA-105,ALABAMA,1,Anniston City,04/12/18,923,22,NaN,NaN,1,NaN,824,21,38,20-29,12,NaN,47,40-49,451,24,472,21,95,15-19,923,22,7,NaN,71,20-24,NaN,NaN
10,ALABAMA-106,ALABAMA,1,Arab City,04/12/18,1314,67,4,NaN,16,NaN,2,NaN,30,21-39,15,NaN,1247,68,642,69,672,65,143,50-54,514,55,6,NaN,8,NaN,NaN,NaN
11,ALABAMA-107,ALABAMA,1,Athens City,04/12/18,2275,45,12,NaN,29,40-59,361,30,344,27,129,55-59,1400,51,1157,45,1118,44,267,15-19,1037,35,114,15-19,40,19-Nov,NaN,NaN
12,ALABAMA-109,ALABAMA,1,Attalla City,04/12/18,801,35,1,NaN,3,NaN,124,30-34,73,25-29,23,21-39,577,37,412,39,389,30,101,9-Jun,538,32,10,NaN,77,20-24,NaN,NaN
13,ALABAMA-187,ALABAMA,1,Saraland City,04/12/18,1612,61,26,60-79,24,60-79,243,35-39,22,40-59,24,40-59,1273,65,761,62,851,60,161,25-29,805,52,9,NaN,3,NaN,NaN,NaN
14,ALABAMA-121,ALABAMA,1,Chickasaw City,04/12/18,573,18,5,NaN,NaN,NaN,399,14,19,21-39,NaN,NaN,150,25-29,251,15-19,322,18,96,NaN,573,18,6,NaN,33,NaN,NaN,NaN
15,ALABAMA-196,ALABAMA,1,Satsuma City,04/12/18,776,54,21,40-59,12,NaN,81,45-49,6,NaN,20,60-79,636,55,412,55,364,54,82,25-29,356,49,NaN,NaN,12,NaN,NaN,NaN
16,ALABAMA-103,ALABAMA,1,Alabaster City,04/12/18,3299,56,3,NaN,45,60-69,615,42,612,42,90,55-59,1934,64,1598,58,1701,54,328,22,1225,44,126,14-Oct,20,40-59,NaN,NaN
17,ALABAMA-177,ALABAMA,1,Pelham City,04/12/18,1748,47,4,NaN,53,70-79,251,35-39,526,32,50,50-59,864,56,843,48,905,45,140,15-19,749,36,121,14-Oct,6,NaN,NaN,NaN
18,ALABAMA-186,ALABAMA,1,Pike Road,04/12/18,854,46,1,NaN,57,70-79,57,20-29,66,20-24,256,30-34,417,57,430,45,424,48,55,20-29,145,25-29,40,40-49,NaN,NaN,NaN,NaN
19,ALABAMA-110,ALABAMA,1,Auburn City,04/12/18,4575,70,2,NaN,481,86,1113,43,216,45-49,42,50-59,2721,80,2234,71,2341,68,500,31,1300,46,162,40-44,14,NaN,NaN,NaN
20,ALABAMA-001,ALABAMA,1,Autauga County,04/12/18,5041,49,13,NaN,131,65-69,1252,26,146,45-49,99,45-49,3400,56,2475,49,2566,48,620,19,2507,35,60,40-49,23,21-39,NaN,NaN
21,ALABAMA-002,ALABAMA,1,Baldwin County,04/12/18,16810,53,63,55-59,178,75-79,2056,26,1463,41,723,54,12326,58,8237,55,8573,51,2655,20,7982,40,257,15-19,208,25-29,13,NaN
22,ALABAMA-003,ALABAMA,1,Barbour County,04/12/18,414,13,NaN,NaN,NaN,NaN,325,13,67,15-19,1,NaN,20,NaN,207,15-19,207,14-Oct,48,NaN,414,13,32,NaN,5,NaN,1,NaN
23,ALABAMA-113,ALABAMA,1,Bessemer City,04/12/18,1845,20,4,NaN,NaN,NaN,1639,19,153,30-34,4,NaN,45,20-29,913,20,932,20,188,15-19,1845,20,50,20-29,137,14-Oct,NaN,NaN
24,ALABAMA-004,ALABAMA,1,Bibb County,04/12/18,1721,33,NaN,NaN,6,NaN,383,17,53,40-49,18,40-59,1261,37,819,35,902,30,323,8,1140,26,22,NaN,11,NaN,NaN,NaN
25,ALABAMA-114,ALABAMA,1,Birmingham City,04/12/18,12110,21,12,NaN,21,21-39,11002,20,809,21,118,30-34,148,35-39,5977,23,6133,18,1615,7,12083,21,367,11,6,NaN,NaN,NaN
26,ALABAMA-005,ALABAMA,1,Blount County,04/12/18,4217,47,8,NaN,9,NaN,66,45-49,633,40,29,21-39,3471,48,2080,48,2137,46,516,17,2377,41,112,20-24,63,30-34,44,20-29
27,ALABAMA-116,ALABAMA,1,Brewton City,04/12/18,573,55,2,NaN,2,NaN,195,30-34,11,NaN,4,NaN,358,69,297,55-59,276,50-54,54,20-29,284,40-44,3,NaN,NaN,NaN,NaN,NaN
28,ALABAMA-006,ALABAMA,1,Bullock County,04/12/18,762,14,NaN,NaN,1,NaN,646,14,104,15-19,NaN,NaN,10,NaN,381,15,381,13,76,NaN,762,14,41,NaN,4,NaN,NaN,NaN
29,ALABAMA-007,ALABAMA,1,Butler County,04/12/18,1544,26,1,NaN,9,NaN,1001,19,15,NaN,18,40-59,500,39,695,28,849,25,147,9-Jun,1289,23,8,NaN,113,15-19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16408,WYOMING-0701000,WYOMING,56,Fremont County School District # 1,04/12/18,959,54,108,20-24,11,NaN,5,NaN,74,50-54,66,45-49,695,61,489,55,470,54,142,20-24,366,34,5,NaN,2,NaN,NaN,NaN
16409,WYOMING-0801000,WYOMING,56,Goshen County School District #1,04/12/18,922,47,8,NaN,4,NaN,5,NaN,112,20-24,31,50-59,762,51,433,48,489,46,127,15-19,424,37,2,NaN,7,NaN,NaN,NaN
16410,WYOMING-0203000,WYOMING,56,Big Horn County School District #3,04/12/18,257,52,1,NaN,3,NaN,NaN,NaN,53,30-39,NaN,NaN,200,55-59,124,55-59,133,45-49,45,NaN,119,40-44,15,NaN,4,NaN,NaN,NaN
16411,WYOMING-1602000,WYOMING,56,Platte County School District #2,04/12/18,126,35-39,1,NaN,NaN,NaN,NaN,NaN,11,NaN,4,NaN,110,40-44,61,35-39,65,30-34,15,NaN,58,20-29,NaN,NaN,NaN,NaN,NaN,NaN
16412,WYOMING-0901000,WYOMING,56,Hot Springs County School District #1,04/12/18,344,58,5,NaN,1,NaN,3,NaN,9,NaN,NaN,NaN,326,58,165,55-59,179,60-64,40,30-39,147,45-49,2,NaN,5,NaN,NaN,NaN
16413,WYOMING-1001000,WYOMING,56,Johnson County School District #1,04/12/18,688,51,8,NaN,2,NaN,3,NaN,30,21-39,19,40-59,626,52,340,50,348,51,100,14-Oct,216,35-39,3,NaN,1,NaN,NaN,NaN
16414,WYOMING-1201000,WYOMING,56,Lincoln County School District #1,04/12/18,319,57,1,NaN,4,NaN,1,NaN,33,40-49,6,NaN,274,55-59,160,55-59,159,55-59,53,20-29,54,60-69,4,NaN,5,NaN,NaN,NaN
16415,WYOMING-1202000,WYOMING,56,Lincoln County School District #2,04/12/18,1523,57,3,NaN,6,NaN,9,NaN,67,45-49,27,40-59,1411,58,741,55,782,58,208,25-29,530,51,14,NaN,7,NaN,NaN,NaN
16416,WYOMING-1102000,WYOMING,56,Laramie County School District #2,04/12/18,528,51,11,NaN,6,NaN,5,NaN,90,35-39,NaN,NaN,416,56,262,45-49,266,50-54,90,20-24,212,45-49,18,21-39,21,40-59,NaN,NaN
16417,WYOMING-1401000,WYOMING,56,Niobrara County School District #1,04/12/18,490,35,11,NaN,3,NaN,1,NaN,47,20-29,NaN,NaN,428,36,241,30-34,249,35-39,74,20-24,56,20-29,2,NaN,NaN,NaN,NaN,NaN
16418,WYOMING-2106000,WYOMING,56,Uinta County School District #6,04/12/18,399,42,3,NaN,NaN,NaN,1,NaN,20,21-39,5,NaN,370,43,201,40-44,198,40-44,68,14-Oct,103,25-29,2,NaN,3,NaN,NaN,NaN
16419,WYOMING-1516000,WYOMING,56,Park County School District #16,04/12/18,67,60-64,3,NaN,2,NaN,NaN,NaN,3,NaN,NaN,NaN,59,60-69,35,50-59,32,70-79,6,NaN,30,60-79,2,NaN,NaN,NaN,NaN,NaN
16420,WYOMING-0714000,WYOMING,56,Fremont County School District #14,04/12/18,345,10,338,10,NaN,NaN,NaN,NaN,3,NaN,1,NaN,3,NaN,163,14-Oct,182,9-Jun,55,NaN,345,10,12,NaN,NaN,NaN,NaN,NaN
16421,WYOMING-2104000,WYOMING,56,Uinta County School District #4,04/12/18,474,53,1,NaN,1,NaN,1,NaN,8,NaN,3,NaN,460,53,236,55-59,238,45-49,55,19-Nov,103,35-39,NaN,NaN,NaN,NaN,NaN,NaN
16422,WYOMING-1301000,WYOMING,56,Natrona County School District #1,04/12/18,6963,48,57,30-39,73,55-59,95,25-29,874,35,211,40-44,5653,51,3411,49,3552,47,1064,17,2685,36,112,20-24,64,25-29,NaN,NaN
16423,WYOMING-2301000,WYOMING,56,Weston County School District #1,04/12/18,410,54,3,NaN,6,NaN,NaN,NaN,14,NaN,17,40-59,370,55,206,50-54,204,55-59,71,30-34,168,45-49,4,NaN,13,NaN,NaN,NaN
16424,WYOMING-1801000,WYOMING,56,Sublette County School District #1,04/12/18,557,68,6,NaN,11,NaN,1,NaN,53,40-49,1,NaN,485,71,260,70-74,297,65-69,74,25-29,122,50-54,14,NaN,NaN,NaN,NaN,NaN
16425,WYOMING-1601000,WYOMING,56,Platte County School District #1,04/12/18,524,48,NaN,NaN,5,NaN,2,NaN,63,30-34,12,NaN,442,50,244,45-49,280,50-54,79,20-24,200,35-39,13,NaN,NaN,NaN,NaN,NaN
16426,WYOMING-1501000,WYOMING,56,Park County School District # 1,04/12/18,956,59,1,NaN,2,NaN,8,NaN,131,45-49,30,40-59,784,62,441,55,515,62,150,35-39,365,47,19,21-39,8,NaN,NaN,NaN
16427,WYOMING-0725000,WYOMING,56,Fremont County School District #25,04/12/18,1280,39,234,20-24,10,NaN,6,NaN,150,30-34,49,30-39,831,44,579,39,701,38,197,14-Oct,644,28,17,NaN,5,NaN,NaN,NaN
16428,WYOMING-1901000,WYOMING,56,Sweetwater County School District #1,04/12/18,3041,46,13,NaN,29,40-59,31,20-29,732,35,106,35-39,2130,50,1492,45,1549,47,442,17,1317,33,175,15-19,35,30-39,NaN,NaN
16429,WYOMING-1703000,WYOMING,56,Sheridan County School District #3,04/12/18,57,40-49,NaN,NaN,1,NaN,1,NaN,2,NaN,NaN,NaN,53,40-49,28,40-59,29,21-39,12,NaN,29,21-39,NaN,NaN,NaN,NaN,NaN,NaN
16430,WYOMING-1701000,WYOMING,56,Sheridan County School District #1,04/12/18,478,57,14,NaN,1,NaN,NaN,NaN,NaN,NaN,17,40-59,446,58,237,55-59,241,55-59,57,19-Nov,124,40-44,NaN,NaN,NaN,NaN,NaN,NaN
16431,WYOMING-1702000,WYOMING,56,Sheridan County School District #2,04/12/18,1909,72,24,40-59,11,NaN,8,NaN,91,70-74,41,50-59,1734,73,925,72,984,72,242,40-44,623,58,7,NaN,16,40-59,NaN,NaN
16432,WYOMING-0724000,WYOMING,56,Fremont County School District #24,04/12/18,215,47,4,NaN,NaN,NaN,1,NaN,24,21-39,3,NaN,183,50-54,91,45-49,124,45-49,33,20-29,62,45-49,4,NaN,NaN,NaN,NaN,NaN
16433,WYOMING-1902000,WYOMING,56,Sweetwater County School District #2,04/12/18,1413,50,7,NaN,2,NaN,9,NaN,235,35-39,34,50-59,1126,52,683,50,730,49,233,25-29,455,36,24,21-39,29,21-39,NaN,NaN
16434,WYOMING-2202000,WYOMING,56,Washakie County School District #2,04/12/18,56,50-59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,55,50-59,22,60-79,34,50-59,11,NaN,17,21-39,NaN,NaN,NaN,NaN,NaN,NaN
16435,WYOMING-2001000,WYOMING,56,Teton County School District #1,04/12/18,1555,56,7,NaN,30,60-79,6,NaN,485,28,18,60-79,1009,68,732,54,823,57,178,20-24,360,29,194,20-24,40,20-29,NaN,NaN
16436,WYOMING-2307000,WYOMING,56,Weston County School District #7,04/12/18,128,50-54,NaN,NaN,NaN,NaN,1,NaN,4,NaN,5,NaN,118,50-54,59,50-59,69,45-49,16,NaN,42,40-49,NaN,NaN,NaN,NaN,NaN,NaN
16437,WYOMING-2201000,WYOMING,56,Washakie County School District #1,04/12/18,729,63,6,NaN,1,NaN,1,NaN,194,40-44,13,NaN,514,70,378,62,351,63,113,20-24,341,54,12,NaN,25,21-39,NaN,NaN

In [179]:
df1 = dt.copy()

names = {
    # state assessment = (SA)
    'state_id': 'state_id', # full state name and id number
    'STNAM': 'state_name',
    'FIPST': 'ANSI_code', # The two-digit American National Standards Institute (ANSI) code for state 
    'LEANM': 'location', # location: district, city, county
    'DATE_CUR': 'most_recent_update', # most recent date that data was taken
    'ALL_MTH00NUMVALID_1617': 'all_completed', # total number of students per location that completed SA
    'ALL_MTH00PCTPROF_1617': 'all_proficient', # total number of students per location that were proficient in SA
    'MAM_MTH00NUMVALID_1617': 'american_indian_completed', # you get the picture
    'MAM_MTH00PCTPROF_1617': 'american_indian_proficient',
    'MAS_MTH00NUMVALID_1617': 'asian_completed',
    'MAS_MTH00PCTPROF_1617': 'asian_proficient',
    'MBL_MTH00NUMVALID_1617': 'black_completed',
    'MBL_MTH00PCTPROF_1617': 'black_proficient',
    'MHI_MTH00NUMVALID_1617': 'hispanic_completed',
    'MHI_MTH00PCTPROF_1617': 'hispanic_proficient',
    'MTR_MTH00NUMVALID_1617': 'multiracial_completed', # two or more races
    'MTR_MTH00PCTPROF_1617': 'multiracial_proficient',
    'MWH_MTH00NUMVALID_1617': 'white_completed',
    'MWH_MTH00PCTPROF_1617': 'white_proficient',
    'F_MTH00NUMVALID_1617': 'females_completed',
    'F_MTH00PCTPROF_1617': 'females_proficient',
    'M_MTH00NUMVALID_1617': 'males_completed',
    'M_MTH00PCTPROF_1617': 'males_proficient',
    'CWD_MTH00NUMVALID_1617': 'disability_completed', # children with disabilities
    'CWD_MTH00PCTPROF_1617': 'disability_proficient',
    'ECD_MTH00NUMVALID_1617': 'econ_disadvantage_completed', # economically disadvantaged
    'ECD_MTH00PCTPROF_1617': 'econ_disadvantage_proficient',
    'LEP_MTH00NUMVALID_1617': 'limited_english_completed', # limited english proficient students, english good for SA
    'LEP_MTH00PCTPROF_1617': 'limited_english_proficient',
    'HOM_MTH00NUMVALID_1617': 'homeless_completed', # homeless enrolled students
    'HOM_MTH00PCTPROF_1617': 'homeless_proficient',
    'MIG_MTH00NUMVALID_1617': 'migrant_completed', 
    'MIG_MTH00PCTPROF_1617': 'migrant_proficient'
}

df1.rename(inplace=True,columns=names)

df1

,state_id,state_name,ANSI_code,location,most_recent_update,all_completed,all_proficient,american_indian_completed,american_indian_proficient,asian_completed,asian_proficient,black_completed,black_proficient,hispanic_completed,hispanic_proficient,multiracial_completed,multiracial_proficient,white_completed,white_proficient,females_completed,females_proficient,males_completed,males_proficient,disability_completed,disability_proficient,econ_disadvantage_completed,econ_disadvantage_proficient,limited_english_completed,limited_english_proficient,homeless_completed,homeless_proficient,migrant_completed,migrant_proficient
0,ALABAMA-101,ALABAMA,1,Albertville City,04/12/18,2837,35,3,NaN,17,40-59,92,15-19,1348,27,70,30-34,1307,45,1418,34,1419,36,178,20-24,2837,35,367,10,27,NaN,160,15-19
1,ALABAMA-048,ALABAMA,1,Marshall County,04/12/18,2979,42,11,NaN,7,NaN,31,19-Nov,692,37,33,40-49,2205,43,1410,42,1569,41,459,12,2293,38,120,15-19,132,30-34,39,30-39
2,ALABAMA-158,ALABAMA,1,Hoover City,04/12/18,7465,67,8,NaN,516,82,1852,45,579,50,293,60-64,4217,78,3590,68,3875,66,746,26,1964,44,249,20-24,28,21-39,NaN,NaN
3,ALABAMA-169,ALABAMA,1,Madison City,04/12/18,5599,74,34,70-79,516,89,1147,52,295,60-64,224,75-79,3383,79,2699,75,2900,72,595,44,1218,52,112,30-34,39,60-69,NaN,NaN
4,ALABAMA-167,ALABAMA,1,Leeds City,04/12/18,1003,37,3,NaN,13,NaN,223,20-24,134,20-24,24,21-39,606,46,493,39,510,35,162,14-Oct,557,29,41,NaN,52,30-39,NaN,NaN
5,ALABAMA-115,ALABAMA,1,Boaz City,04/12/18,1279,45,6,NaN,13,NaN,23,21-39,394,31,38,50-59,805,51,613,44,666,45,105,20-24,879,39,97,9-Jun,29,21-39,24,21-39
6,ALABAMA-205,ALABAMA,1,Trussville City,04/12/18,2481,69,7,NaN,52,70-79,297,45-49,40,60-69,66,65-69,2019,71,1228,69,1253,69,194,25-29,232,45-49,3,NaN,3,NaN,NaN,NaN
7,ALABAMA-102,ALABAMA,1,Alexander City,04/12/18,1548,39,2,NaN,23,60-79,615,24,106,40-44,23,21-39,779,50,740,41,808,38,261,14-Oct,974,31,24,NaN,4,NaN,NaN,NaN
8,ALABAMA-104,ALABAMA,1,Andalusia City,04/12/18,910,44,NaN,NaN,15,NaN,266,20-24,18,60-79,14,NaN,597,53,425,48,485,40,107,9-Jun,531,30,8,NaN,3,NaN,NaN,NaN
9,ALABAMA-105,ALABAMA,1,Anniston City,04/12/18,923,22,NaN,NaN,1,NaN,824,21,38,20-29,12,NaN,47,40-49,451,24,472,21,95,15-19,923,22,7,NaN,71,20-24,NaN,NaN
10,ALABAMA-106,ALABAMA,1,Arab City,04/12/18,1314,67,4,NaN,16,NaN,2,NaN,30,21-39,15,NaN,1247,68,642,69,672,65,143,50-54,514,55,6,NaN,8,NaN,NaN,NaN
11,ALABAMA-107,ALABAMA,1,Athens City,04/12/18,2275,45,12,NaN,29,40-59,361,30,344,27,129,55-59,1400,51,1157,45,1118,44,267,15-19,1037,35,114,15-19,40,19-Nov,NaN,NaN
12,ALABAMA-109,ALABAMA,1,Attalla City,04/12/18,801,35,1,NaN,3,NaN,124,30-34,73,25-29,23,21-39,577,37,412,39,389,30,101,9-Jun,538,32,10,NaN,77,20-24,NaN,NaN
13,ALABAMA-187,ALABAMA,1,Saraland City,04/12/18,1612,61,26,60-79,24,60-79,243,35-39,22,40-59,24,40-59,1273,65,761,62,851,60,161,25-29,805,52,9,NaN,3,NaN,NaN,NaN
14,ALABAMA-121,ALABAMA,1,Chickasaw City,04/12/18,573,18,5,NaN,NaN,NaN,399,14,19,21-39,NaN,NaN,150,25-29,251,15-19,322,18,96,NaN,573,18,6,NaN,33,NaN,NaN,NaN
15,ALABAMA-196,ALABAMA,1,Satsuma City,04/12/18,776,54,21,40-59,12,NaN,81,45-49,6,NaN,20,60-79,636,55,412,55,364,54,82,25-29,356,49,NaN,NaN,12,NaN,NaN,NaN
16,ALABAMA-103,ALABAMA,1,Alabaster City,04/12/18,3299,56,3,NaN,45,60-69,615,42,612,42,90,55-59,1934,64,1598,58,1701,54,328,22,1225,44,126,14-Oct,20,40-59,NaN,NaN
17,ALABAMA-177,ALABAMA,1,Pelham City,04/12/18,1748,47,4,NaN,53,70-79,251,35-39,526,32,50,50-59,864,56,843,48,905,45,140,15-19,749,36,121,14-Oct,6,NaN,NaN,NaN
18,ALABAMA-186,ALABAMA,1,Pike Road,04/12/18,854,46,1,NaN,57,70-79,57,20-29,66,20-24,256,30-34,417,57,430,45,424,48,55,20-29,145,25-29,40,40-49,NaN,NaN,NaN,NaN
19,ALABAMA-110,ALABAMA,1,Auburn City,04/12/18,4575,70,2,NaN,481,86,1113,43,216,45-49,42,50-59,2721,80,2234,71,2341,68,500,31,1300,46,162,40-44,14,NaN,NaN,NaN
20,ALABAMA-001,ALABAMA,1,Autauga County,04/12/18,5041,49,13,NaN,131,65-69,1252,26,146,45-49,99,45-49,3400,56,2475,49,2566,48,620,19,2507,35,60,40-49,23,21-39,NaN,NaN
21,ALABAMA-002,ALABAMA,1,Baldwin County,04/12/18,16810,53,63,55-59,178,75-79,2056,26,1463,41,723,54,12326,58,8237,55,8573,51,2655,20,7982,40,257,15-19,208,25-29,13,NaN
22,ALABAMA-003,ALABAMA,1,Barbour County,04/12/18,414,13,NaN,NaN,NaN,NaN,325,13,67,15-19,1,NaN,20,NaN,207,15-19,207,14-Oct,48,NaN,414,13,32,NaN,5,NaN,1,NaN
23,ALABAMA-113,ALABAMA,1,Bessemer City,04/12/18,1845,20,4,NaN,NaN,NaN,1639,19,153,30-34,4,NaN,45,20-29,913,20,932,20,188,15-19,1845,20,50,20-29,137,14-Oct,NaN,NaN
24,ALABAMA-004,ALABAMA,1,Bibb County,04/12/18,1721,33,NaN,NaN,6,NaN,383,17,53,40-49,18,40-59,1261,37,819,35,902,30,323,8,1140,26,22,NaN,11,NaN,NaN,NaN
25,ALABAMA-114,ALABAMA,1,Birmingham City,04/12/18,12110,21,12,NaN,21,21-39,11002,20,809,21,118,30-34,148,35-39,5977,23,6133,18,1615,7,12083,21,367,11,6,NaN,NaN,NaN
26,ALABAMA-005,ALABAMA,1,Blount County,04/12/18,4217,47,8,NaN,9,NaN,66,45-49,633,40,29,21-39,3471,48,2080,48,2137,46,516,17,2377,41,112,20-24,63,30-34,44,20-29
27,ALABAMA-116,ALABAMA,1,Brewton City,04/12/18,573,55,2,NaN,2,NaN,195,30-34,11,NaN,4,NaN,358,69,297,55-59,276,50-54,54,20-29,284,40-44,3,NaN,NaN,NaN,NaN,NaN
28,ALABAMA-006,ALABAMA,1,Bullock County,04/12/18,762,14,NaN,NaN,1,NaN,646,14,104,15-19,NaN,NaN,10,NaN,381,15,381,13,76,NaN,762,14,41,NaN,4,NaN,NaN,NaN
29,ALABAMA-007,ALABAMA,1,Butler County,04/12/18,1544,26,1,NaN,9,NaN,1001,19,15,NaN,18,40-59,500,39,695,28,849,25,147,9-Jun,1289,23,8,NaN,113,15-19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16408,WYOMING-0701000,WYOMING,56,Fremont County School District # 1,04/12/18,959,54,108,20-24,11,NaN,5,NaN,74,50-54,66,45-49,695,61,489,55,470,54,142,20-24,366,34,5,NaN,2,NaN,NaN,NaN
16409,WYOMING-0801000,WYOMING,56,Goshen County School District #1,04/12/18,922,47,8,NaN,4,NaN,5,NaN,112,20-24,31,50-59,762,51,433,48,489,46,127,15-19,424,37,2,NaN,7,NaN,NaN,NaN
16410,WYOMING-0203000,WYOMING,56,Big Horn County School District #3,04/12/18,257,52,1,NaN,3,NaN,NaN,NaN,53,30-39,NaN,NaN,200,55-59,124,55-59,133,45-49,45,NaN,119,40-44,15,NaN,4,NaN,NaN,NaN
16411,WYOMING-1602000,WYOMING,56,Platte County School District #2,04/12/18,126,35-39,1,NaN,NaN,NaN,NaN,NaN,11,NaN,4,NaN,110,40-44,61,35-39,65,30-34,15,NaN,58,20-29,NaN,NaN,NaN,NaN,NaN,NaN
16412,WYOMING-0901000,WYOMING,56,Hot Springs County School District #1,04/12/18,344,58,5,NaN,1,NaN,3,NaN,9,NaN,NaN,NaN,326,58,165,55-59,179,60-64,40,30-39,147,45-49,2,NaN,5,NaN,NaN,NaN
16413,WYOMING-1001000,WYOMING,56,Johnson County School District #1,04/12/18,688,51,8,NaN,2,NaN,3,NaN,30,21-39,19,40-59,626,52,340,50,348,51,100,14-Oct,216,35-39,3,NaN,1,NaN,NaN,NaN
16414,WYOMING-1201000,WYOMING,56,Lincoln County School District #1,04/12/18,319,57,1,NaN,4,NaN,1,NaN,33,40-49,6,NaN,274,55-59,160,55-59,159,55-59,53,20-29,54,60-69,4,NaN,5,NaN,NaN,NaN
16415,WYOMING-1202000,WYOMING,56,Lincoln County School District #2,04/12/18,1523,57,3,NaN,6,NaN,9,NaN,67,45-49,27,40-59,1411,58,741,55,782,58,208,25-29,530,51,14,NaN,7,NaN,NaN,NaN
16416,WYOMING-1102000,WYOMING,56,Laramie County School District #2,04/12/18,528,51,11,NaN,6,NaN,5,NaN,90,35-39,NaN,NaN,416,56,262,45-49,266,50-54,90,20-24,212,45-49,18,21-39,21,40-59,NaN,NaN
16417,WYOMING-1401000,WYOMING,56,Niobrara County School District #1,04/12/18,490,35,11,NaN,3,NaN,1,NaN,47,20-29,NaN,NaN,428,36,241,30-34,249,35-39,74,20-24,56,20-29,2,NaN,NaN,NaN,NaN,NaN
16418,WYOMING-2106000,WYOMING,56,Uinta County School District #6,04/12/18,399,42,3,NaN,NaN,NaN,1,NaN,20,21-39,5,NaN,370,43,201,40-44,198,40-44,68,14-Oct,103,25-29,2,NaN,3,NaN,NaN,NaN
16419,WYOMING-1516000,WYOMING,56,Park County School District #16,04/12/18,67,60-64,3,NaN,2,NaN,NaN,NaN,3,NaN,NaN,NaN,59,60-69,35,50-59,32,70-79,6,NaN,30,60-79,2,NaN,NaN,NaN,NaN,NaN
16420,WYOMING-0714000,WYOMING,56,Fremont County School District #14,04/12/18,345,10,338,10,NaN,NaN,NaN,NaN,3,NaN,1,NaN,3,NaN,163,14-Oct,182,9-Jun,55,NaN,345,10,12,NaN,NaN,NaN,NaN,NaN
16421,WYOMING-2104000,WYOMING,56,Uinta County School District #4,04/12/18,474,53,1,NaN,1,NaN,1,NaN,8,NaN,3,NaN,460,53,236,55-59,238,45-49,55,19-Nov,103,35-39,NaN,NaN,NaN,NaN,NaN,NaN
16422,WYOMING-1301000,WYOMING,56,Natrona County School District #1,04/12/18,6963,48,57,30-39,73,55-59,95,25-29,874,35,211,40-44,5653,51,3411,49,3552,47,1064,17,2685,36,112,20-24,64,25-29,NaN,NaN
16423,WYOMING-2301000,WYOMING,56,Weston County School District #1,04/12/18,410,54,3,NaN,6,NaN,NaN,NaN,14,NaN,17,40-59,370,55,206,50-54,204,55-59,71,30-34,168,45-49,4,NaN,13,NaN,NaN,NaN
16424,WYOMING-1801000,WYOMING,56,Sublette County School District #1,04/12/18,557,68,6,NaN,11,NaN,1,NaN,53,40-49,1,NaN,485,71,260,70-74,297,65-69,74,25-29,122,50-54,14,NaN,NaN,NaN,NaN,NaN
16425,WYOMING-1601000,WYOMING,56,Platte County School District #1,04/12/18,524,48,NaN,NaN,5,NaN,2,NaN,63,30-34,12,NaN,442,50,244,45-49,280,50-54,79,20-24,200,35-39,13,NaN,NaN,NaN,NaN,NaN
16426,WYOMING-1501000,WYOMING,56,Park County School District # 1,04/12/18,956,59,1,NaN,2,NaN,8,NaN,131,45-49,30,40-59,784,62,441,55,515,62,150,35-39,365,47,19,21-39,8,NaN,NaN,NaN
16427,WYOMING-0725000,WYOMING,56,Fremont County School District #25,04/12/18,1280,39,234,20-24,10,NaN,6,NaN,150,30-34,49,30-39,831,44,579,39,701,38,197,14-Oct,644,28,17,NaN,5,NaN,NaN,NaN
16428,WYOMING-1901000,WYOMING,56,Sweetwater County School District #1,04/12/18,3041,46,13,NaN,29,40-59,31,20-29,732,35,106,35-39,2130,50,1492,45,1549,47,442,17,1317,33,175,15-19,35,30-39,NaN,NaN
16429,WYOMING-1703000,WYOMING,56,Sheridan County School District #3,04/12/18,57,40-49,NaN,NaN,1,NaN,1,NaN,2,NaN,NaN,NaN,53,40-49,28,40-59,29,21-39,12,NaN,29,21-39,NaN,NaN,NaN,NaN,NaN,NaN
16430,WYOMING-1701000,WYOMING,56,Sheridan County School District #1,04/12/18,478,57,14,NaN,1,NaN,NaN,NaN,NaN,NaN,17,40-59,446,58,237,55-59,241,55-59,57,19-Nov,124,40-44,NaN,NaN,NaN,NaN,NaN,NaN
16431,WYOMING-1702000,WYOMING,56,Sheridan County School District #2,04/12/18,1909,72,24,40-59,11,NaN,8,NaN,91,70-74,41,50-59,1734,73,925,72,984,72,242,40-44,623,58,7,NaN,16,40-59,NaN,NaN
16432,WYOMING-0724000,WYOMING,56,Fremont County School District #24,04/12/18,215,47,4,NaN,NaN,NaN,1,NaN,24,21-39,3,NaN,183,50-54,91,45-49,124,45-49,33,20-29,62,45-49,4,NaN,NaN,NaN,NaN,NaN
16433,WYOMING-1902000,WYOMING,56,Sweetwater County School District #2,04/12/18,1413,50,7,NaN,2,NaN,9,NaN,235,35-39,34,50-59,1126,52,683,50,730,49,233,25-29,455,36,24,21-39,29,21-39,NaN,NaN
16434,WYOMING-2202000,WYOMING,56,Washakie County School District #2,04/12/18,56,50-59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,55,50-59,22,60-79,34,50-59,11,NaN,17,21-39,NaN,NaN,NaN,NaN,NaN,NaN
16435,WYOMING-2001000,WYOMING,56,Teton County School District #1,04/12/18,1555,56,7,NaN,30,60-79,6,NaN,485,28,18,60-79,1009,68,732,54,823,57,178,20-24,360,29,194,20-24,40,20-29,NaN,NaN
16436,WYOMING-2307000,WYOMING,56,Weston County School District #7,04/12/18,128,50-54,NaN,NaN,NaN,NaN,1,NaN,4,NaN,5,NaN,118,50-54,59,50-59,69,45-49,16,NaN,42,40-49,NaN,NaN,NaN,NaN,NaN,NaN
16437,WYOMING-2201000,WYOMING,56,Washakie County School District #1,04/12/18,729,63,6,NaN,1,NaN,1,NaN,194,40-44,13,NaN,514,70,378,62,351,63,113,20-24,341,54,12,NaN,25,21-39,NaN,NaN

In [ ]:
df2 = df1.copy()

g = df2.groupby('state_name')

a = g.get_group('ALABAMA')
a