# <title\>

**Adhithya Kannan & Kenton Wong**  
**CMSC320 Fall 2019 with John Dickerson**

Data found from all aggregated standarized testing math course data, not each individual grade. ```MTH00``` is the equivalent expresssion in each column. ``` NUMVALID ``` means the number of students who completed the state assessment (check explanation for all of these terms as well). ``` PCTPROF ``` is the percentage of students scoring ```>=``` state proficiency levels on assessment. 

Title could be visualizing the relationship between ethnicity and math in the standardized tests way of assessing proficiency.

In [108]:
# imports
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

# lets us see all columns
pd.set_option('display.max_columns', 34)

In [109]:
df = pd.read_csv("data.csv")
# only use first 34 columns
df = df[df.columns[0:34]]

df.head()

,STNAM,FIPST,LEAID,ST_LEAID,LEANM,DATE_CUR,ALL_MTH00NUMVALID_1617,ALL_MTH00PCTPROF_1617,MAM_MTH00NUMVALID_1617,MAM_MTH00PCTPROF_1617,MAS_MTH00NUMVALID_1617,MAS_MTH00PCTPROF_1617,MBL_MTH00NUMVALID_1617,MBL_MTH00PCTPROF_1617,MHI_MTH00NUMVALID_1617,MHI_MTH00PCTPROF_1617,MTR_MTH00NUMVALID_1617,MTR_MTH00PCTPROF_1617,MWH_MTH00NUMVALID_1617,MWH_MTH00PCTPROF_1617,F_MTH00NUMVALID_1617,F_MTH00PCTPROF_1617,M_MTH00NUMVALID_1617,M_MTH00PCTPROF_1617,CWD_MTH00NUMVALID_1617,CWD_MTH00PCTPROF_1617,ECD_MTH00NUMVALID_1617,ECD_MTH00PCTPROF_1617,LEP_MTH00NUMVALID_1617,LEP_MTH00PCTPROF_1617,HOM_MTH00NUMVALID_1617,HOM_MTH00PCTPROF_1617,MIG_MTH00NUMVALID_1617,MIG_MTH00PCTPROF_1617
0,ALABAMA,1,100005,AL-101,Albertville City,12-Apr-18,2837,35,3,PS,17,40-59,92,15-19,1348,27,70,30-34,1307,45,1418,34,1419,36,178,20-24,2837,35,367,10,27,LE20,160,15-19
1,ALABAMA,1,100006,AL-048,Marshall County,12-Apr-18,2979,42,11,LT50,7,GE50,31,19-Nov,692,37,33,40-49,2205,43,1410,42,1569,41,459,12,2293,38,120,15-19,132,30-34,39,30-39
2,ALABAMA,1,100007,AL-158,Hoover City,12-Apr-18,7465,67,8,GE50,516,82,1852,45,579,50,293,60-64,4217,78,3590,68,3875,66,746,26,1964,44,249,20-24,28,21-39,NaN,NaN
3,ALABAMA,1,100008,AL-169,Madison City,12-Apr-18,5599,74,34,70-79,516,89,1147,52,295,60-64,224,75-79,3383,79,2699,75,2900,72,595,44,1218,52,112,30-34,39,60-69,NaN,NaN
4,ALABAMA,1,100011,AL-167,Leeds City,12-Apr-18,1003,37,3,PS,13,LT50,223,20-24,134,20-24,24,21-39,606,46,493,39,510,35,162,14-Oct,557,29,41,LE10,52,30-39,NaN,NaN

We make sure every value is either a valid value or an ``` np.nan ```. Any of the following columns in subset must have values otherwise it is not a valid row. There must be a total number of students overall, a state, a fipst (state number), a leaid, a st_leaid, a valid date.

In [110]:
dt = df.copy()

arr = dt.apply(lambda e : (e.STNAM + e.ST_LEAID[2:]), axis=1)
dt = dt.assign(state_id=arr)
dt = dt.replace('NaN', np.nan)
dt = dt.replace('PS', np.nan)
# dt = dt.replace({'LE': '<=', 'GE': '>=', 'GT': '>', 'LT': '<', '\.': np.nan, 'n/a': np.nan}, regex=True)
# print(dt.loc[[2177]])

dt = dt.replace({'LE': '', 'GE': '', 'GT': '', 'LT': '', '\.': 0, 'n/a': 0,
                r'14-Oct':'14', r'9-Jun': '9', r'19-Nov': '9', '\d+\-': ''}, regex=True)

# we take the middle value in these ranges since they are misrepresented dates
        
# dt.head()

In [111]:
dt = dt.dropna(subset=['STNAM', 'LEANM', 'FIPST', 'LEAID', 'ST_LEAID', 'DATE_CUR', 'ALL_MTH00NUMVALID_1617', 'ALL_MTH00PCTPROF_1617'])

# dt = dt.drop('STNAM', 1)
# dt = dt.drop('FIPST', 1)
dt = dt.drop('LEAID', 1)
dt = dt.drop('ST_LEAID', 1)


mid = dt['state_id']
dt.drop(labels=['state_id'], axis=1,inplace = True)
dt.insert(0, 'state_id', mid)

dt = dt.drop('DATE_CUR', 1)

dt

,state_id,STNAM,FIPST,LEANM,ALL_MTH00NUMVALID_1617,ALL_MTH00PCTPROF_1617,MAM_MTH00NUMVALID_1617,MAM_MTH00PCTPROF_1617,MAS_MTH00NUMVALID_1617,MAS_MTH00PCTPROF_1617,MBL_MTH00NUMVALID_1617,MBL_MTH00PCTPROF_1617,MHI_MTH00NUMVALID_1617,MHI_MTH00PCTPROF_1617,MTR_MTH00NUMVALID_1617,MTR_MTH00PCTPROF_1617,MWH_MTH00NUMVALID_1617,MWH_MTH00PCTPROF_1617,F_MTH00NUMVALID_1617,F_MTH00PCTPROF_1617,M_MTH00NUMVALID_1617,M_MTH00PCTPROF_1617,CWD_MTH00NUMVALID_1617,CWD_MTH00PCTPROF_1617,ECD_MTH00NUMVALID_1617,ECD_MTH00PCTPROF_1617,LEP_MTH00NUMVALID_1617,LEP_MTH00PCTPROF_1617,HOM_MTH00NUMVALID_1617,HOM_MTH00PCTPROF_1617,MIG_MTH00NUMVALID_1617,MIG_MTH00PCTPROF_1617
0,ALABAMA-101,ALABAMA,1,Albertville City,2837,35,3,NaN,17,59,92,19,1348,27,70,34,1307,45,1418,34,1419,36,178,24,2837,35,367,10,27,20,160,19
1,ALABAMA-048,ALABAMA,1,Marshall County,2979,42,11,50,7,50,31,9,692,37,33,49,2205,43,1410,42,1569,41,459,12,2293,38,120,19,132,34,39,39
2,ALABAMA-158,ALABAMA,1,Hoover City,7465,67,8,50,516,82,1852,45,579,50,293,64,4217,78,3590,68,3875,66,746,26,1964,44,249,24,28,39,NaN,NaN
3,ALABAMA-169,ALABAMA,1,Madison City,5599,74,34,79,516,89,1147,52,295,64,224,79,3383,79,2699,75,2900,72,595,44,1218,52,112,34,39,69,NaN,NaN
4,ALABAMA-167,ALABAMA,1,Leeds City,1003,37,3,NaN,13,50,223,24,134,24,24,39,606,46,493,39,510,35,162,14,557,29,41,10,52,39,NaN,NaN
5,ALABAMA-115,ALABAMA,1,Boaz City,1279,45,6,50,13,50,23,39,394,31,38,59,805,51,613,44,666,45,105,24,879,39,97,9,29,39,24,39
6,ALABAMA-205,ALABAMA,1,Trussville City,2481,69,7,50,52,79,297,49,40,69,66,69,2019,71,1228,69,1253,69,194,29,232,49,3,NaN,3,NaN,NaN,NaN
7,ALABAMA-102,ALABAMA,1,Alexander City,1548,39,2,NaN,23,79,615,24,106,44,23,39,779,50,740,41,808,38,261,14,974,31,24,20,4,NaN,NaN,NaN
8,ALABAMA-104,ALABAMA,1,Andalusia City,910,44,NaN,NaN,15,50,266,24,18,79,14,50,597,53,425,48,485,40,107,9,531,30,8,50,3,NaN,NaN,NaN
9,ALABAMA-105,ALABAMA,1,Anniston City,923,22,NaN,NaN,1,NaN,824,21,38,29,12,50,47,49,451,24,472,21,95,19,923,22,7,50,71,24,NaN,NaN
10,ALABAMA-106,ALABAMA,1,Arab City,1314,67,4,NaN,16,80,2,NaN,30,39,15,50,1247,68,642,69,672,65,143,54,514,55,6,50,8,50,NaN,NaN
11,ALABAMA-107,ALABAMA,1,Athens City,2275,45,12,50,29,59,361,30,344,27,129,59,1400,51,1157,45,1118,44,267,19,1037,35,114,19,40,9,NaN,NaN
12,ALABAMA-109,ALABAMA,1,Attalla City,801,35,1,NaN,3,NaN,124,34,73,29,23,39,577,37,412,39,389,30,101,9,538,32,10,50,77,24,NaN,NaN
13,ALABAMA-187,ALABAMA,1,Saraland City,1612,61,26,79,24,79,243,39,22,59,24,59,1273,65,761,62,851,60,161,29,805,52,9,50,3,NaN,NaN,NaN
14,ALABAMA-121,ALABAMA,1,Chickasaw City,573,18,5,NaN,NaN,NaN,399,14,19,39,NaN,NaN,150,29,251,19,322,18,96,5,573,18,6,50,33,10,NaN,NaN
15,ALABAMA-196,ALABAMA,1,Satsuma City,776,54,21,59,12,50,81,49,6,50,20,79,636,55,412,55,364,54,82,29,356,49,NaN,NaN,12,50,NaN,NaN
16,ALABAMA-103,ALABAMA,1,Alabaster City,3299,56,3,NaN,45,69,615,42,612,42,90,59,1934,64,1598,58,1701,54,328,22,1225,44,126,14,20,59,NaN,NaN
17,ALABAMA-177,ALABAMA,1,Pelham City,1748,47,4,NaN,53,79,251,39,526,32,50,59,864,56,843,48,905,45,140,19,749,36,121,14,6,50,NaN,NaN
18,ALABAMA-186,ALABAMA,1,Pike Road,854,46,1,NaN,57,79,57,29,66,24,256,34,417,57,430,45,424,48,55,29,145,29,40,49,NaN,NaN,NaN,NaN
19,ALABAMA-110,ALABAMA,1,Auburn City,4575,70,2,NaN,481,86,1113,43,216,49,42,59,2721,80,2234,71,2341,68,500,31,1300,46,162,44,14,50,NaN,NaN
20,ALABAMA-001,ALABAMA,1,Autauga County,5041,49,13,50,131,69,1252,26,146,49,99,49,3400,56,2475,49,2566,48,620,19,2507,35,60,49,23,39,NaN,NaN
21,ALABAMA-002,ALABAMA,1,Baldwin County,16810,53,63,59,178,79,2056,26,1463,41,723,54,12326,58,8237,55,8573,51,2655,20,7982,40,257,19,208,29,13,50
22,ALABAMA-003,ALABAMA,1,Barbour County,414,13,NaN,NaN,NaN,NaN,325,13,67,19,1,NaN,20,20,207,19,207,14,48,10,414,13,32,10,5,NaN,1,NaN
23,ALABAMA-113,ALABAMA,1,Bessemer City,1845,20,4,NaN,NaN,NaN,1639,19,153,34,4,NaN,45,29,913,20,932,20,188,19,1845,20,50,29,137,14,NaN,NaN
24,ALABAMA-004,ALABAMA,1,Bibb County,1721,33,NaN,NaN,6,50,383,17,53,49,18,59,1261,37,819,35,902,30,323,8,1140,26,22,20,11,50,NaN,NaN
25,ALABAMA-114,ALABAMA,1,Birmingham City,12110,21,12,50,21,39,11002,20,809,21,118,34,148,39,5977,23,6133,18,1615,7,12083,21,367,11,6,50,NaN,NaN
26,ALABAMA-005,ALABAMA,1,Blount County,4217,47,8,50,9,50,66,49,633,40,29,39,3471,48,2080,48,2137,46,516,17,2377,41,112,24,63,34,44,29
27,ALABAMA-116,ALABAMA,1,Brewton City,573,55,2,NaN,2,NaN,195,34,11,50,4,NaN,358,69,297,59,276,54,54,29,284,44,3,NaN,NaN,NaN,NaN,NaN
28,ALABAMA-006,ALABAMA,1,Bullock County,762,14,NaN,NaN,1,NaN,646,14,104,19,NaN,NaN,10,50,381,15,381,13,76,5,762,14,41,10,4,NaN,NaN,NaN
29,ALABAMA-007,ALABAMA,1,Butler County,1544,26,1,NaN,9,50,1001,19,15,50,18,59,500,39,695,28,849,25,147,9,1289,23,8,50,113,19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16408,WYOMING-0701000,WYOMING,56,Fremont County School District # 1,959,54,108,24,11,50,5,NaN,74,54,66,49,695,61,489,55,470,54,142,24,366,34,5,NaN,2,NaN,NaN,NaN
16409,WYOMING-0801000,WYOMING,56,Goshen County School District #1,922,47,8,50,4,NaN,5,NaN,112,24,31,59,762,51,433,48,489,46,127,19,424,37,2,NaN,7,50,NaN,NaN
16410,WYOMING-0203000,WYOMING,56,Big Horn County School District #3,257,52,1,NaN,3,NaN,NaN,NaN,53,39,NaN,NaN,200,59,124,59,133,49,45,10,119,44,15,50,4,NaN,NaN,NaN
16411,WYOMING-1602000,WYOMING,56,Platte County School District #2,126,39,1,NaN,NaN,NaN,NaN,NaN,11,50,4,NaN,110,44,61,39,65,34,15,50,58,29,NaN,NaN,NaN,NaN,NaN,NaN
16412,WYOMING-0901000,WYOMING,56,Hot Springs County School District #1,344,58,5,NaN,1,NaN,3,NaN,9,50,NaN,NaN,326,58,165,59,179,64,40,39,147,49,2,NaN,5,NaN,NaN,NaN
16413,WYOMING-1001000,WYOMING,56,Johnson County School District #1,688,51,8,50,2,NaN,3,NaN,30,39,19,59,626,52,340,50,348,51,100,14,216,39,3,NaN,1,NaN,NaN,NaN
16414,WYOMING-1201000,WYOMING,56,Lincoln County School District #1,319,57,1,NaN,4,NaN,1,NaN,33,49,6,50,274,59,160,59,159,59,53,29,54,69,4,NaN,5,NaN,NaN,NaN
16415,WYOMING-1202000,WYOMING,56,Lincoln County School District #2,1523,57,3,NaN,6,50,9,50,67,49,27,59,1411,58,741,55,782,58,208,29,530,51,14,50,7,50,NaN,NaN
16416,WYOMING-1102000,WYOMING,56,Laramie County School District #2,528,51,11,50,6,50,5,NaN,90,39,NaN,NaN,416,56,262,49,266,54,90,24,212,49,18,39,21,59,NaN,NaN
16417,WYOMING-1401000,WYOMING,56,Niobrara County School District #1,490,35,11,50,3,NaN,1,NaN,47,29,NaN,NaN,428,36,241,34,249,39,74,24,56,29,2,NaN,NaN,NaN,NaN,NaN
16418,WYOMING-2106000,WYOMING,56,Uinta County School District #6,399,42,3,NaN,NaN,NaN,1,NaN,20,39,5,NaN,370,43,201,44,198,44,68,14,103,29,2,NaN,3,NaN,NaN,NaN
16419,WYOMING-1516000,WYOMING,56,Park County School District #16,67,64,3,NaN,2,NaN,NaN,NaN,3,NaN,NaN,NaN,59,69,35,59,32,79,6,50,30,79,2,NaN,NaN,NaN,NaN,NaN
16420,WYOMING-0714000,WYOMING,56,Fremont County School District #14,345,10,338,10,NaN,NaN,NaN,NaN,3,NaN,1,NaN,3,NaN,163,14,182,9,55,10,345,10,12,50,NaN,NaN,NaN,NaN
16421,WYOMING-2104000,WYOMING,56,Uinta County School District #4,474,53,1,NaN,1,NaN,1,NaN,8,50,3,NaN,460,53,236,59,238,49,55,9,103,39,NaN,NaN,NaN,NaN,NaN,NaN
16422,WYOMING-1301000,WYOMING,56,Natrona County School District #1,6963,48,57,39,73,59,95,29,874,35,211,44,5653,51,3411,49,3552,47,1064,17,2685,36,112,24,64,29,NaN,NaN
16423,WYOMING-2301000,WYOMING,56,Weston County School District #1,410,54,3,NaN,6,50,NaN,NaN,14,50,17,59,370,55,206,54,204,59,71,34,168,49,4,NaN,13,50,NaN,NaN
16424,WYOMING-1801000,WYOMING,56,Sublette County School District #1,557,68,6,50,11,50,1,NaN,53,49,1,NaN,485,71,260,74,297,69,74,29,122,54,14,50,NaN,NaN,NaN,NaN
16425,WYOMING-1601000,WYOMING,56,Platte County School District #1,524,48,NaN,NaN,5,NaN,2,NaN,63,34,12,50,442,50,244,49,280,54,79,24,200,39,13,50,NaN,NaN,NaN,NaN
16426,WYOMING-1501000,WYOMING,56,Park County School District # 1,956,59,1,NaN,2,NaN,8,50,131,49,30,59,784,62,441,55,515,62,150,39,365,47,19,39,8,50,NaN,NaN
16427,WYOMING-0725000,WYOMING,56,Fremont County School District #25,1280,39,234,24,10,50,6,50,150,34,49,39,831,44,579,39,701,38,197,14,644,28,17,20,5,NaN,NaN,NaN
16428,WYOMING-1901000,WYOMING,56,Sweetwater County School District #1,3041,46,13,50,29,59,31,29,732,35,106,39,2130,50,1492,45,1549,47,442,17,1317,33,175,19,35,39,NaN,NaN
16429,WYOMING-1703000,WYOMING,56,Sheridan County School District #3,57,49,NaN,NaN,1,NaN,1,NaN,2,NaN,NaN,NaN,53,49,28,59,29,39,12,50,29,39,NaN,NaN,NaN,NaN,NaN,NaN
16430,WYOMING-1701000,WYOMING,56,Sheridan County School District #1,478,57,14,50,1,NaN,NaN,NaN,NaN,NaN,17,59,446,58,237,59,241,59,57,9,124,44,NaN,NaN,NaN,NaN,NaN,NaN
16431,WYOMING-1702000,WYOMING,56,Sheridan County School District #2,1909,72,24,59,11,50,8,50,91,74,41,59,1734,73,925,72,984,72,242,44,623,58,7,50,16,59,NaN,NaN
16432,WYOMING-0724000,WYOMING,56,Fremont County School District #24,215,47,4,NaN,NaN,NaN,1,NaN,24,39,3,NaN,183,54,91,49,124,49,33,29,62,49,4,NaN,NaN,NaN,NaN,NaN
16433,WYOMING-1902000,WYOMING,56,Sweetwater County School District #2,1413,50,7,50,2,NaN,9,50,235,39,34,59,1126,52,683,50,730,49,233,29,455,36,24,39,29,39,NaN,NaN
16434,WYOMING-2202000,WYOMING,56,Washakie County School District #2,56,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,55,59,22,79,34,59,11,50,17,39,NaN,NaN,NaN,NaN,NaN,NaN
16435,WYOMING-2001000,WYOMING,56,Teton County School District #1,1555,56,7,50,30,79,6,50,485,28,18,79,1009,68,732,54,823,57,178,24,360,29,194,24,40,29,NaN,NaN
16436,WYOMING-2307000,WYOMING,56,Weston County School District #7,128,54,NaN,NaN,NaN,NaN,1,NaN,4,NaN,5,NaN,118,54,59,59,69,49,16,20,42,49,NaN,NaN,NaN,NaN,NaN,NaN
16437,WYOMING-2201000,WYOMING,56,Washakie County School District #1,729,63,6,50,1,NaN,1,NaN,194,44,13,50,514,70,378,62,351,63,113,24,341,54,12,50,25,39,NaN,NaN

In [112]:
df1 = dt.copy()

names = {
    # state assessment = (SA)
    'state_id': 'state_id', # full state name and id number
    'STNAM': 'state_name',
    'FIPST': 'ANSI_code', # The two-digit American National Standards Institute (ANSI) code for state 
    'LEANM': 'location', # location: district, city, county
    'DATE_CUR': 'most_recent_update', # most recent date that data was taken
    'ALL_MTH00NUMVALID_1617': 'all_completed', # total number of students per location that completed SA
    'ALL_MTH00PCTPROF_1617': 'all_proficient', # total number of students per location that were proficient in SA
    'MAM_MTH00NUMVALID_1617': 'american_indian_completed', # you get the picture
    'MAM_MTH00PCTPROF_1617': 'american_indian_proficient',
    'MAS_MTH00NUMVALID_1617': 'asian_completed',
    'MAS_MTH00PCTPROF_1617': 'asian_proficient',
    'MBL_MTH00NUMVALID_1617': 'black_completed',
    'MBL_MTH00PCTPROF_1617': 'black_proficient',
    'MHI_MTH00NUMVALID_1617': 'hispanic_completed',
    'MHI_MTH00PCTPROF_1617': 'hispanic_proficient',
    'MTR_MTH00NUMVALID_1617': 'multiracial_completed', # two or more races
    'MTR_MTH00PCTPROF_1617': 'multiracial_proficient',
    'MWH_MTH00NUMVALID_1617': 'white_completed',
    'MWH_MTH00PCTPROF_1617': 'white_proficient',
    'F_MTH00NUMVALID_1617': 'females_completed',
    'F_MTH00PCTPROF_1617': 'females_proficient',
    'M_MTH00NUMVALID_1617': 'males_completed',
    'M_MTH00PCTPROF_1617': 'males_proficient',
    'CWD_MTH00NUMVALID_1617': 'disability_completed', # children with disabilities
    'CWD_MTH00PCTPROF_1617': 'disability_proficient',
    'ECD_MTH00NUMVALID_1617': 'econ_disadvantage_completed', # economically disadvantaged
    'ECD_MTH00PCTPROF_1617': 'econ_disadvantage_proficient',
    'LEP_MTH00NUMVALID_1617': 'limited_english_completed', # limited english proficient students, english good for SA
    'LEP_MTH00PCTPROF_1617': 'limited_english_proficient',
    'HOM_MTH00NUMVALID_1617': 'homeless_completed', # homeless enrolled students
    'HOM_MTH00PCTPROF_1617': 'homeless_proficient',
    'MIG_MTH00NUMVALID_1617': 'migrant_completed', 
    'MIG_MTH00PCTPROF_1617': 'migrant_proficient'
}

df1.rename(inplace=True,columns=names)

df1.all_proficient = df1.all_proficient.astype(int).fillna(np.nan)
df1

,state_id,state_name,ANSI_code,location,all_completed,all_proficient,american_indian_completed,american_indian_proficient,asian_completed,asian_proficient,black_completed,black_proficient,hispanic_completed,hispanic_proficient,multiracial_completed,multiracial_proficient,white_completed,white_proficient,females_completed,females_proficient,males_completed,males_proficient,disability_completed,disability_proficient,econ_disadvantage_completed,econ_disadvantage_proficient,limited_english_completed,limited_english_proficient,homeless_completed,homeless_proficient,migrant_completed,migrant_proficient
0,ALABAMA-101,ALABAMA,1,Albertville City,2837,35,3,NaN,17,59,92,19,1348,27,70,34,1307,45,1418,34,1419,36,178,24,2837,35,367,10,27,20,160,19
1,ALABAMA-048,ALABAMA,1,Marshall County,2979,42,11,50,7,50,31,9,692,37,33,49,2205,43,1410,42,1569,41,459,12,2293,38,120,19,132,34,39,39
2,ALABAMA-158,ALABAMA,1,Hoover City,7465,67,8,50,516,82,1852,45,579,50,293,64,4217,78,3590,68,3875,66,746,26,1964,44,249,24,28,39,NaN,NaN
3,ALABAMA-169,ALABAMA,1,Madison City,5599,74,34,79,516,89,1147,52,295,64,224,79,3383,79,2699,75,2900,72,595,44,1218,52,112,34,39,69,NaN,NaN
4,ALABAMA-167,ALABAMA,1,Leeds City,1003,37,3,NaN,13,50,223,24,134,24,24,39,606,46,493,39,510,35,162,14,557,29,41,10,52,39,NaN,NaN
5,ALABAMA-115,ALABAMA,1,Boaz City,1279,45,6,50,13,50,23,39,394,31,38,59,805,51,613,44,666,45,105,24,879,39,97,9,29,39,24,39
6,ALABAMA-205,ALABAMA,1,Trussville City,2481,69,7,50,52,79,297,49,40,69,66,69,2019,71,1228,69,1253,69,194,29,232,49,3,NaN,3,NaN,NaN,NaN
7,ALABAMA-102,ALABAMA,1,Alexander City,1548,39,2,NaN,23,79,615,24,106,44,23,39,779,50,740,41,808,38,261,14,974,31,24,20,4,NaN,NaN,NaN
8,ALABAMA-104,ALABAMA,1,Andalusia City,910,44,NaN,NaN,15,50,266,24,18,79,14,50,597,53,425,48,485,40,107,9,531,30,8,50,3,NaN,NaN,NaN
9,ALABAMA-105,ALABAMA,1,Anniston City,923,22,NaN,NaN,1,NaN,824,21,38,29,12,50,47,49,451,24,472,21,95,19,923,22,7,50,71,24,NaN,NaN
10,ALABAMA-106,ALABAMA,1,Arab City,1314,67,4,NaN,16,80,2,NaN,30,39,15,50,1247,68,642,69,672,65,143,54,514,55,6,50,8,50,NaN,NaN
11,ALABAMA-107,ALABAMA,1,Athens City,2275,45,12,50,29,59,361,30,344,27,129,59,1400,51,1157,45,1118,44,267,19,1037,35,114,19,40,9,NaN,NaN
12,ALABAMA-109,ALABAMA,1,Attalla City,801,35,1,NaN,3,NaN,124,34,73,29,23,39,577,37,412,39,389,30,101,9,538,32,10,50,77,24,NaN,NaN
13,ALABAMA-187,ALABAMA,1,Saraland City,1612,61,26,79,24,79,243,39,22,59,24,59,1273,65,761,62,851,60,161,29,805,52,9,50,3,NaN,NaN,NaN
14,ALABAMA-121,ALABAMA,1,Chickasaw City,573,18,5,NaN,NaN,NaN,399,14,19,39,NaN,NaN,150,29,251,19,322,18,96,5,573,18,6,50,33,10,NaN,NaN
15,ALABAMA-196,ALABAMA,1,Satsuma City,776,54,21,59,12,50,81,49,6,50,20,79,636,55,412,55,364,54,82,29,356,49,NaN,NaN,12,50,NaN,NaN
16,ALABAMA-103,ALABAMA,1,Alabaster City,3299,56,3,NaN,45,69,615,42,612,42,90,59,1934,64,1598,58,1701,54,328,22,1225,44,126,14,20,59,NaN,NaN
17,ALABAMA-177,ALABAMA,1,Pelham City,1748,47,4,NaN,53,79,251,39,526,32,50,59,864,56,843,48,905,45,140,19,749,36,121,14,6,50,NaN,NaN
18,ALABAMA-186,ALABAMA,1,Pike Road,854,46,1,NaN,57,79,57,29,66,24,256,34,417,57,430,45,424,48,55,29,145,29,40,49,NaN,NaN,NaN,NaN
19,ALABAMA-110,ALABAMA,1,Auburn City,4575,70,2,NaN,481,86,1113,43,216,49,42,59,2721,80,2234,71,2341,68,500,31,1300,46,162,44,14,50,NaN,NaN
20,ALABAMA-001,ALABAMA,1,Autauga County,5041,49,13,50,131,69,1252,26,146,49,99,49,3400,56,2475,49,2566,48,620,19,2507,35,60,49,23,39,NaN,NaN
21,ALABAMA-002,ALABAMA,1,Baldwin County,16810,53,63,59,178,79,2056,26,1463,41,723,54,12326,58,8237,55,8573,51,2655,20,7982,40,257,19,208,29,13,50
22,ALABAMA-003,ALABAMA,1,Barbour County,414,13,NaN,NaN,NaN,NaN,325,13,67,19,1,NaN,20,20,207,19,207,14,48,10,414,13,32,10,5,NaN,1,NaN
23,ALABAMA-113,ALABAMA,1,Bessemer City,1845,20,4,NaN,NaN,NaN,1639,19,153,34,4,NaN,45,29,913,20,932,20,188,19,1845,20,50,29,137,14,NaN,NaN
24,ALABAMA-004,ALABAMA,1,Bibb County,1721,33,NaN,NaN,6,50,383,17,53,49,18,59,1261,37,819,35,902,30,323,8,1140,26,22,20,11,50,NaN,NaN
25,ALABAMA-114,ALABAMA,1,Birmingham City,12110,21,12,50,21,39,11002,20,809,21,118,34,148,39,5977,23,6133,18,1615,7,12083,21,367,11,6,50,NaN,NaN
26,ALABAMA-005,ALABAMA,1,Blount County,4217,47,8,50,9,50,66,49,633,40,29,39,3471,48,2080,48,2137,46,516,17,2377,41,112,24,63,34,44,29
27,ALABAMA-116,ALABAMA,1,Brewton City,573,55,2,NaN,2,NaN,195,34,11,50,4,NaN,358,69,297,59,276,54,54,29,284,44,3,NaN,NaN,NaN,NaN,NaN
28,ALABAMA-006,ALABAMA,1,Bullock County,762,14,NaN,NaN,1,NaN,646,14,104,19,NaN,NaN,10,50,381,15,381,13,76,5,762,14,41,10,4,NaN,NaN,NaN
29,ALABAMA-007,ALABAMA,1,Butler County,1544,26,1,NaN,9,50,1001,19,15,50,18,59,500,39,695,28,849,25,147,9,1289,23,8,50,113,19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16408,WYOMING-0701000,WYOMING,56,Fremont County School District # 1,959,54,108,24,11,50,5,NaN,74,54,66,49,695,61,489,55,470,54,142,24,366,34,5,NaN,2,NaN,NaN,NaN
16409,WYOMING-0801000,WYOMING,56,Goshen County School District #1,922,47,8,50,4,NaN,5,NaN,112,24,31,59,762,51,433,48,489,46,127,19,424,37,2,NaN,7,50,NaN,NaN
16410,WYOMING-0203000,WYOMING,56,Big Horn County School District #3,257,52,1,NaN,3,NaN,NaN,NaN,53,39,NaN,NaN,200,59,124,59,133,49,45,10,119,44,15,50,4,NaN,NaN,NaN
16411,WYOMING-1602000,WYOMING,56,Platte County School District #2,126,39,1,NaN,NaN,NaN,NaN,NaN,11,50,4,NaN,110,44,61,39,65,34,15,50,58,29,NaN,NaN,NaN,NaN,NaN,NaN
16412,WYOMING-0901000,WYOMING,56,Hot Springs County School District #1,344,58,5,NaN,1,NaN,3,NaN,9,50,NaN,NaN,326,58,165,59,179,64,40,39,147,49,2,NaN,5,NaN,NaN,NaN
16413,WYOMING-1001000,WYOMING,56,Johnson County School District #1,688,51,8,50,2,NaN,3,NaN,30,39,19,59,626,52,340,50,348,51,100,14,216,39,3,NaN,1,NaN,NaN,NaN
16414,WYOMING-1201000,WYOMING,56,Lincoln County School District #1,319,57,1,NaN,4,NaN,1,NaN,33,49,6,50,274,59,160,59,159,59,53,29,54,69,4,NaN,5,NaN,NaN,NaN
16415,WYOMING-1202000,WYOMING,56,Lincoln County School District #2,1523,57,3,NaN,6,50,9,50,67,49,27,59,1411,58,741,55,782,58,208,29,530,51,14,50,7,50,NaN,NaN
16416,WYOMING-1102000,WYOMING,56,Laramie County School District #2,528,51,11,50,6,50,5,NaN,90,39,NaN,NaN,416,56,262,49,266,54,90,24,212,49,18,39,21,59,NaN,NaN
16417,WYOMING-1401000,WYOMING,56,Niobrara County School District #1,490,35,11,50,3,NaN,1,NaN,47,29,NaN,NaN,428,36,241,34,249,39,74,24,56,29,2,NaN,NaN,NaN,NaN,NaN
16418,WYOMING-2106000,WYOMING,56,Uinta County School District #6,399,42,3,NaN,NaN,NaN,1,NaN,20,39,5,NaN,370,43,201,44,198,44,68,14,103,29,2,NaN,3,NaN,NaN,NaN
16419,WYOMING-1516000,WYOMING,56,Park County School District #16,67,64,3,NaN,2,NaN,NaN,NaN,3,NaN,NaN,NaN,59,69,35,59,32,79,6,50,30,79,2,NaN,NaN,NaN,NaN,NaN
16420,WYOMING-0714000,WYOMING,56,Fremont County School District #14,345,10,338,10,NaN,NaN,NaN,NaN,3,NaN,1,NaN,3,NaN,163,14,182,9,55,10,345,10,12,50,NaN,NaN,NaN,NaN
16421,WYOMING-2104000,WYOMING,56,Uinta County School District #4,474,53,1,NaN,1,NaN,1,NaN,8,50,3,NaN,460,53,236,59,238,49,55,9,103,39,NaN,NaN,NaN,NaN,NaN,NaN
16422,WYOMING-1301000,WYOMING,56,Natrona County School District #1,6963,48,57,39,73,59,95,29,874,35,211,44,5653,51,3411,49,3552,47,1064,17,2685,36,112,24,64,29,NaN,NaN
16423,WYOMING-2301000,WYOMING,56,Weston County School District #1,410,54,3,NaN,6,50,NaN,NaN,14,50,17,59,370,55,206,54,204,59,71,34,168,49,4,NaN,13,50,NaN,NaN
16424,WYOMING-1801000,WYOMING,56,Sublette County School District #1,557,68,6,50,11,50,1,NaN,53,49,1,NaN,485,71,260,74,297,69,74,29,122,54,14,50,NaN,NaN,NaN,NaN
16425,WYOMING-1601000,WYOMING,56,Platte County School District #1,524,48,NaN,NaN,5,NaN,2,NaN,63,34,12,50,442,50,244,49,280,54,79,24,200,39,13,50,NaN,NaN,NaN,NaN
16426,WYOMING-1501000,WYOMING,56,Park County School District # 1,956,59,1,NaN,2,NaN,8,50,131,49,30,59,784,62,441,55,515,62,150,39,365,47,19,39,8,50,NaN,NaN
16427,WYOMING-0725000,WYOMING,56,Fremont County School District #25,1280,39,234,24,10,50,6,50,150,34,49,39,831,44,579,39,701,38,197,14,644,28,17,20,5,NaN,NaN,NaN
16428,WYOMING-1901000,WYOMING,56,Sweetwater County School District #1,3041,46,13,50,29,59,31,29,732,35,106,39,2130,50,1492,45,1549,47,442,17,1317,33,175,19,35,39,NaN,NaN
16429,WYOMING-1703000,WYOMING,56,Sheridan County School District #3,57,49,NaN,NaN,1,NaN,1,NaN,2,NaN,NaN,NaN,53,49,28,59,29,39,12,50,29,39,NaN,NaN,NaN,NaN,NaN,NaN
16430,WYOMING-1701000,WYOMING,56,Sheridan County School District #1,478,57,14,50,1,NaN,NaN,NaN,NaN,NaN,17,59,446,58,237,59,241,59,57,9,124,44,NaN,NaN,NaN,NaN,NaN,NaN
16431,WYOMING-1702000,WYOMING,56,Sheridan County School District #2,1909,72,24,59,11,50,8,50,91,74,41,59,1734,73,925,72,984,72,242,44,623,58,7,50,16,59,NaN,NaN
16432,WYOMING-0724000,WYOMING,56,Fremont County School District #24,215,47,4,NaN,NaN,NaN,1,NaN,24,39,3,NaN,183,54,91,49,124,49,33,29,62,49,4,NaN,NaN,NaN,NaN,NaN
16433,WYOMING-1902000,WYOMING,56,Sweetwater County School District #2,1413,50,7,50,2,NaN,9,50,235,39,34,59,1126,52,683,50,730,49,233,29,455,36,24,39,29,39,NaN,NaN
16434,WYOMING-2202000,WYOMING,56,Washakie County School District #2,56,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,55,59,22,79,34,59,11,50,17,39,NaN,NaN,NaN,NaN,NaN,NaN
16435,WYOMING-2001000,WYOMING,56,Teton County School District #1,1555,56,7,50,30,79,6,50,485,28,18,79,1009,68,732,54,823,57,178,24,360,29,194,24,40,29,NaN,NaN
16436,WYOMING-2307000,WYOMING,56,Weston County School District #7,128,54,NaN,NaN,NaN,NaN,1,NaN,4,NaN,5,NaN,118,54,59,59,69,49,16,20,42,49,NaN,NaN,NaN,NaN,NaN,NaN
16437,WYOMING-2201000,WYOMING,56,Washakie County School District #1,729,63,6,50,1,NaN,1,NaN,194,44,13,50,514,70,378,62,351,63,113,24,341,54,12,50,25,39,NaN,NaN

In [113]:
df2 = df1.copy()

g = df2.groupby('state_name')

md = g.get_group('MARYLAND')

# all completed * all_proficient = all_num_proficient
co = g.get_group('ALASKA') # middle of bumfuck nowhere